html,
body {
    background: #121212 !important;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* 徹底禁止捲軸 */
    height: 100%;
}

.remote-body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: sans-serif;
}

#remote-shell {
    height: 100%;
    background: #1e1e1e;
    border: 3px solid #333;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    gap: 15px;
}

/* 歌曲資訊區塊：名字左、時間右 */
#info-display {
    height: 20px;
    background: #121212;
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#track-name {
    font-size: 14px;
    color: #00c853;
    font-weight: bold;
    flex: 1;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#track-time {
    font-size: 12px;
    color: #aaa;
    white-space: nowrap;
    text-align: right;
}

.btn-group {
    display: flex;
    gap: 10px;
}

/* 遙控器按鈕樣式 */
.ctrl-btn {
    flex-wrap: nowrap;
    min-width: 100px;
    display: block;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    transition: transform 0.1s ease, filter 0.2s;
}

.btn-play {
    background: #00c853;
}

.btn-play:hover {
    background: #007430;
}

.btn-pause {
    background: #d50000;
}

.btn-pause:hover {
    background: #940000;
}

.ctrl-btn:hover {
    transform: scale(1.05);
}

.ctrl-btn:active {
    transform: scale(0.92);
    filter: brightness(1.2);
}